* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40em;
  border: 1px solid black;
}
.large-photo {
  width: 12em;
}



















.loading {
  margin-top: 2em;
  text-align: center;
  animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
  0% {
    color: #000;
  }
  35% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  65% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}


